/* Style the tab */
.tab button {
  transition: .5s;
}

div.tab {
    display: inline-block;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-image: none;
    box-shadow: 0 .05em 2em rgba(0, 0, 0, .5) inset;
}

i {
}

i:hover {
  color: gray;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 3px 6px;
    font-size: .8em;
    /*border: 1px solid black;
    border-radius: 1em;*/
    margin-bottom: .8em;
}

/* Info buttons*/
.tab  button {
  padding: .3em .5em;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3em;
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .7) inset, 0 .15em .1em -.1em rgba(0, 0, 0, .4);
  background: linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0)) hsl(240, 25%, 55%);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0, 0, 0, .3);
  font: inherit;
  font-weight: bold;
  outline: none;
}

.tab button:enabled:active, {
  background-image: none;
  box-shadow: 0 .05em 2em rgba(0, 0, 0, .5) inset;
}

.tab button:disabled {
  background-color: hsl(240, 25%, 90%);
  cursor: not-allowed;
}
