* {
  padding: 0px;
  margin: 0px;
}

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: .2em 0 .2em;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

#container {
  margin: auto;
  max-width: 500px;
}

#tip {
  font-size: .8em;
  margin: .5em 0 .8em;
}

#info {
  font-size: 0.9em;
  display: inline-block;
  width: 375px;
  text-align: center;
  margin: 10px auto;
}

#grid {
  margin: 1em auto 0;
  border-spacing: 0;
  border-collapse: collapse;
}

  #grid td {
    border: 1px solid gray;
  }

  @-webkit-keyframes birth {
    50% {
      box-shadow: 0 0 0 99px green inset;
    }
  }

  @keyframes birth {
    50% {
      box-shadow: 0 0 0 99px green inset;
    }
  }

  #grid input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 10px;
    height: 10px;
    border: 0;
    background: white;
    transition: .5s;
  }

    #grid input[type="checkbox"]:checked {
      box-shadow: 0 0 0 99px black inset; //because firefox doesn't allow to bg be black
      -webkit-animation: birth 1s;
      animation: birth 1s;
    }

#todo {
  margin: 20px auto;
}

  #todo ul {
    text-align: left;
    font-weight: bold;
    font-size: 1em;
  }

  #todo li {
    font-weight: normal;
    text-align: left;
    list-style-type: square;
  }

  #todo li li {
    margin-left: 20px;
    list-style-type: lower-alpha;
    font-size: .8em;
  }
  #todo li.done {
    text-decoration: line-through;
  }

button,
.button {
  padding: .3em .5em;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3em;
  box-shadow: 0 1px 0 hsla(0, 0%, 100%, .7) inset, 0 .15em .1em -.1em rgba(0, 0, 0, .4);
  background: linear-gradient(hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0)) hsl(80, 80%, 35%);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0, 0, 0, .3);
  font: inherit;
  font-weight: bold;
  outline: none;
}

.button {
  padding-top: .33em;
  padding-bottom: .33em
}

button:enabled:active,
.button:active,
input[type="checkbox"]:checked + label.button {
  background-image: none;
  box-shadow: 0 .05em 2em rgba(0, 0, 0, .5) inset;
}

button:disabled {
  background-color: hsl(80, 20%, 40%);
  cursor: not-allowed;
}

#autoplay {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
